version: 2.1
workflows:
  test-deploy:
    jobs:
      - test

jobs:
  test:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - setup_remote_docker
      - run: 
          name: Docker version
          command: docker --version
      - run:
          name: Docker login
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      # - run:
      #     name: Docker build
      #     command: docker build -t 242131/circle-ci:$CIRCLE_BUILD_NUM .
      # - run:
      #     name: Docker push
      #     command: docker push 242131/circle-ci:$CIRCLE_BUILD_NUM
      - run:
          name: Docker build
          command: docker build -t 242131/circle-ci:test .
      - run:
          name: Docker push
          command: docker push 242131/circle-ci:test