version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@6.7.0

workflows:
  build_and_push_image:
    jobs:
      - install
      - aws-ecr/build-and-push-image:
          account-url: AWS_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_SECRET_KEY
          create-repo: false
          dockerfile: Dockerfile
          path: ../
          region: AWS_REGION
          repo: circleci
          tag: "$CIRCLE_SHA1"
jobs:
  install:
    docker:
      - image: cimg/base:2020.01
    steps:
    - checkout
    - run: pip install --upgrade pip
# workflows:

#   test-deploy:
#     jobs:
#       - test

# jobs:
#   test:
#     docker:
#       - image: cimg/base:2020.01
#     steps:
#       - checkout
#       - setup_remote_docker
#       - run: 
#           name: Docker version
#           command: docker --version
#       - run:
#           name: Docker login
#           command: docker login -u $DOCKER_USER -p $DOCKER_PASS
#       - run:
#           name: Docker build
#           command: docker build -t 242131/circle-ci:$CIRCLE_BUILD_NUM .
#       - run:
#           name: Docker push
#           command: docker push 242131/circle-ci:$CIRCLE_BUILD_NUM
     